
        body {
            padding: 0;
            margin: 0;
            overflow: hidden;
        }

        #placeModal {
            position: absolute;
	    display:flex;
   
	    flex-direction:column;
padding:10px;
border-radius:10px;
            top: 60px;
            left: 10px;
            width: 50%;
            height: auto;
	    background-color:powderblue;
}



#placeModal > p
{
	font-family:times new roman;
	font-size:20px;
}

#placeModal > span
{width:100px;text-align:center;padding:10px;margin:auto;border-radius:10px;border:1px solid red;}

#placeModal > input[type],select,button{
    height:40px;
}

@media (max-width:800px) {
    #placeModal{
        width:800px;
        height:500px;
    }
}



#PMvisible
{
display:none;
position:absolute;
font-size:20px;
top:100px;
width:20px;
height:20px;
padding-left:5px;
border-radius:0px 10px 10px 0px;
background-color:#d3fff1;
}

        #header {
	            background-color: green;
	    font-size:30px;
            padding: 10px;
            text-align: center;
            color: white;
        }

.hidePlaceModal
{
display:none;
}

        .container {
            width: 100%;
            height:auto;
            overflow:scroll;
        }

        #myCanvas {
            display: block;
            touch-action: auto;
            background-color: black;
        }
